/* Featured and Expanded Item */

.trulia-grid-item {

}

.trulia-featured-grid-item {
    
   grid-column: span 2;
   grid-row: span 2;
    height: 100%;
    min-height: 360px;
}

.trulia-grid-item .trulia-house-image{
    height: 85%;
} 
.trulia-house-facts{
    padding-left: 50px;
    font-size: 15px;
    display: flex;

}
 
.trulia-featured-grid-item .trulia-house-facts{
    height: 250px;
    
}
.trulia-featured-grid-item .trulia-house-price > * {
    margin: 0px;
    padding: 5px 0px 0px 0px;
    font-size: 30px;
  }
  .trulia-featured-grid-item .trulia-house-facts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
  }
  .trulia-featured-grid-item .trulia-house-stats li{
    font-weight: bold;
    font-size: 16px;
    
  }
  .trulia-featured-grid-item .trulia-house-address{
    
    font-size: 20px;
    margin-left: 0%;
    color: black;
  }
  .trulia-featured-grid-item .trulia-house-facts li{
    padding-left: 10px;
  }