
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseMainFeatures {
display: flex;
gap: 10px;


}

.exerciseMainFeatures .exerciseMarketingFeature {
display: flex;
width: 50%;
gap: 10px;


}

.exerciseMainFeatures .exerciseMarketingFeature:first-child {

}

.exerciseAdditionalFeatures {
display: flex;

gap: 10px;
margin-top: 10px;

}

.exerciseAdditionalFeatures .exerciseMarketingFeature {
width: 33%;
gap: 10px;

}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {

}